* {
    margin: 0;
    padding: 0;

}

.grid-container {
    display: grid;

  }

h1 {
    color: rgb(255, 255, 255);
    padding: 1.5rem;

}
header {
    background: rgb(5, 88, 197);
    grid-column: 1 / 4;
    text-align: center;

  }

.navigation {
    list-style: none;
    display: flex;
    background-color: rgb(46, 46, 46);
    align-items: center;

  }

.navigation a {
    color: rgb(255, 255, 255);
    font-size: larger;
    flex: 1 1 100%;
    padding: .75rem;

  }

main {
    display: flex;
    flex-basis: 0;
    justify-content: center;
    background: rgb(211, 211, 211);
    font-size: larger;
    padding: 1rem;
  }

.card {
    display: grid;
    grid-template-areas: 
    'cardhead cardhead cardhead'
    'text text image1'
    'cardpic text2 text2';
    grid-template-rows: 48px 1fr 1fr;
    grid-template-columns: repeat(3, 2fr);
    font-size: larger;
    border: 1px solid grey;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.cardhead {
    grid-area: cardhead;
    background-color: rgb(5, 88, 197);
    text-align: center;
    border: 1px solid;
    padding: 4px;
    border-radius: 8px;;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.card p {
  grid-area: text;
  padding: 16px;    
}

p2 {
  grid-area: text2;
 }

.cardimg {
  grid-area: image1;
  object-fit: contain;
}

.cardpic {
  grid-area: cardpic;
  max-width: 60%;
}

.links {
    margin-left: 24px;
    border: 1px solid grey;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.linkslist {
  padding: 2rem;
}

footer {
    background: grey;
    padding: 2rem;
    text-align: center;
    color:rgb(0, 0, 0);
  }


